[build]
  command = "echo 'Building...'"
  functions = "netlify/functions"
  publish = "."

[functions]
  node_bundler = "esbuild"

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "GMAIL_USER,ADMIN_EMAIL"
